  /*  
============================================
CSS RESET below
============================================
*/

/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

  /* This is the CSS RESET above */

/*
  ========================================
  Custom styles
  ========================================
*/

 body {
   background: #4D6280; 
   color: #888888;
   font: 300 16px/22px "Lato","Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
 }

/*  
============================================
Grid
============================================
*/

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

.container,
.grid {
  margin: 0 auto;
  max-width: 960px;
}

.container {
  padding-left: 30px;
  padding-right: 30px;
  }

  .col-1-3 {
    width: 33.33%;
    }
  
  .col-2-3 {
    width: 66.66%;
    }
  
  .col-1-3,
  .col-2-3 {
    display: inline-block;
    vertical-align: top;
    }
  
  .grid,
  .col-1-3,
  .col-2-3 {
    padding-left: 15px;
    padding-right: 15px;
   }


/*
  ========================================
  Clearfix - containing floats under class=group
  ========================================
*/

.group:before,
.group:after {
  content: "";
  display: table;
  }
.group:after {
  clear: both;
  }
.group {
  clear: both;
  *zoom: 1;
}

/*
  ========================================
  Buttons
  ========================================
*/

.btn {
  border-radius: 5px;
  color: #ffffff;
  cursor: pointer;
  display: inline-block;
  font-weight: 400;
  letter-spacing: .5px;
  margin: 0;
  text-transform: uppercase;
    }

.btn-alt {
  border: 1px solid #ffffff;
  padding: 10px 30px;
}

.btn-alt:hover {
  background: #FFD36B;
  color: #ffffff;
  font-weight: 400;
}


/*
  ========================================
  Primary header
  ========================================
*/

.logo {
  border-top: 10px solid #FFD36B;
  float: left;
  font-size: 48px;
  font-weight: 100;
  letter-spacing: .5px;
  line-height: 44px;
  padding: 40px 0 22px 0;
  text-transform: uppercase;
  }

.tagline {
    color: #FFD36B;
    margin: 74px 0 22px 0;
    text-align: right;
  }

.primary-nav {
  font-size: 14px;
  font-weight: 400;
  letter-spacing: .5px;
  text-transform: uppercase;
}

/*
  ========================================
  Navigation
  ========================================
*/

.nav {
  text-align: right;
}

.nav li {
  display: inline-block;
  margin: 0 10px;
  vertical-align: top;
}

.nav li:last-child {
  margin-right: 0;
}


/*
  ========================================
  Primary footer
  ========================================
*/

.primary-footer {
  color: #a9b2b9;
  font-size: 14px;
  padding-bottom: 44px;
  padding-top: 44px;
  }

.primary-footer small {
  float: left;
  }

/*
  ========================================
  Home
  ========================================
*/

.hero {
  color: #ffffff;
  line-height: 44px;
  padding: 22px 80px 66px 80px;
  text-align: center;
}

.hero h2 {
  font-size: 36px;
}

.hero p {
  font-size: 24px;
  font-weight: 100;
}



 /*
  ========================================
Typography
  ========================================
Color Theme Swatches in Hex
 */
 .Norman-6-1-hex { color: #264B80; }
 .Norman-6-2-hex { color: #99C4FF; }
 .Norman-6-3-hex { color: #4C97FF; }
 .Norman-6-4-hex { color: #4D6280; }
 .Norman-6-5-hex { color: #3D79CC; }
 .Norman-6-6-hex { color: #888888; }
 .Norman-6-7-hex { color: #a9b2b9; }
 .Norman-6-8-hex { color: #FFD36B; }
 .Norman-6-9-hex { color: #B38927; }

h1, h3, h4, h5, p {
  margin-bottom: 22px;
    }

h1, h2, h4 {
  color: #ffffff;
}

h1 {
  font-size: 36px;
  line-height: 44px;
}

h2 {
  font-size: 24px;
  line-height: 44px;
}
h3 {
  color: #4D6280;
  font-size: 21px;
}
h4 {
  font-size: 18px;
}

h5 {
  color: #4D6280;
  font-size: 14px;
  font-weight: 400;
  text-transform: uppercase;
}

strong {
  font-weight: 400;
}
cite, em {
  font-style: italic;
}

/*
  ========================================
  Links
  ========================================
*/

a {
  text-decoration: none;
}

.teaser a:hover h3 {
  color: #FFD36B;
  font-weight: 400;
}

.primary-header a,
.primary-footer a {
  color: #ffffff;
}

.primary-header a:hover,
.primary-footer a:hover {
  color: #FFD36B;
}

/*
  ========================================
  Rows
  ========================================
*/

.row,
.row-alt {
  min-width: 960px;
}

.row {
  background: #fff;
  padding: 66px 0 44px 0;
}
.row-alt {
   background: #a9b2b9;
   background: -webkit-linear-gradient(to right, #ffffff, #a9b2b9);
   background: -moz-linear-gradient(to right, #ffffff, #a9b2b9);
   background: linear-gradient(to right, #ffffff, #a9b2b9);
   padding: 44px 0 22px 0;
 }

 /*
  ========================================
  Leads
  ========================================
*/

.lead {
  text-align: center;
}
.lead p {
  color: #4D6280;
  font-size: 21px;
  line-height: 33px;
}

.lead h1 {
 color: #4D6280;
}


/*
  ========================================
  Stock Items
  ========================================
*/


/*
  ========================================
  Personalised Services
  ========================================
*/


/*
  ========================================
  Special Items
  ========================================
*/


/*
  ========================================
  Contact
  ========================================
*/
.contact h2 {
  color: #4D6280;
}

.contact p {
  color: #4D6280;
  font-size: 18px;
}

.contact img {
  border-radius: 8px;
  display: inline-block;
  height: 200px;
  vertical-align: bottom;
  margin: 8px 0 22px 0;
}

.contact a {
  color: #4D6280;
}

.contact a:hover {
  color: #FFD36B;
  font-weight: 400;
}

/*
==============================
responsive
==============================
*/
